.Card {
  color: #fff;
  display: flex;
  padding: 15px 30px;
  flex-direction: row;
  background-color: #232323;

  h5 {
    font-size: 19px;
  }

  p {
    font-size: 18px;
  }

  h5,
  p {
    margin: 25px 20px;
  }
}
